* {
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    font-family: roboto;
}

#content-wrapper {
    background-image: url('image/bathroom-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;  
    width: 100%;
    height: 1000px; 
}

#display td {
    color: white;
}

.header {
    display: flex;
    flex-direction: row;
    width: 98.5%;
    height: 100px;
    background-color: #72a5cc;
    padding: 10px 10px;
}

.header > h1 {
    text-align: center;
    margin-left: 420px;
    margin-top: 20px;
    z-index: 1;
}

.header > p {
    font-size: 15pt;
}

#logout {
    font-size: 10pt;
    /* margin-left: -20px; */
}

.add-box {
    z-index: 2;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 30px;
    padding: 20px 320px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    display: none;
}

.add-box > .input {
    margin-right: 20px;
    height: 30px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

#submit {
    font-size: 12pt;
    width: 8%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #72a5cc;
}

#add-bathroom {
    font-size: 12pt;
    border: none;
    height: 45px;
    border-radius: 15px;
    padding: 10px 10px;
    margin-top: 25px;
    margin-left: 350px;
    width: 10%;
}

.review {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.review > p {
    margin: 6px 8px;
}

.like {
    max-width: 4%;
}

.dislike {
    padding-top: 2px;
    max-width: 4%;
}

.comments {
    padding-left: 10px;
    border-radius: 10px;
    height: 30px;
}

.cmt-btn {
    border: none;
    background-color: lightgrey;
    padding: 2px 5px;
}

.comment-box {
    margin-top: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0 , 0 , 0.5);
    padding: 10px 10px;
    width: 65%;
    height: 850px;
    z-index: 2;
    /* justify-items: center;
    justify-content: center; */
    /* align-items: center; */
    /* overflow: scroll;  */
}

.smt-btn {
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: #72a5cc;
    padding: 5px 5px;
}

.bathroom {
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    height: 150px;
    padding: 10px 10px;
    background-color: white;
    margin-left: 110px;
    margin-bottom: 10px;
}

/* Iphones 5/SE */
@media screen and (max-width: 320px) {
    * {font-size: 1.1rem;}

    .header {
        width: 100%;
        height: 120px;
    }

    #add-bathroom {
        margin-left: -85%;
        transform: translateY(120%);
        width: 40%;
    }
    
    .header > h1 {
        font-size: 1.5rem;
        margin-left: 0px;
        margin-top: 35px;
        transform: translateX(-65px);
    }

    #content {
        background-color: rgba(0, 0 , 0 , 0);
        margin-top: -25px;
    }

    .bathroom {
        transform: translateX(-125px);
        width: 110%;
        height: 200px;
        margin-bottom: 15px;
    }
}

/* Galaxy S5*/
@media screen and (max-width: 360px) and (min-width: 321px) {
    * {font-size: 1.1rem;}

    .header {
        width: 94.5%;
        height: 120px;
    }
    
    .header > h1 {
        font-size: 1.9rem;
        margin-left: 0px;
        transform: translateX(-50px);
    }

    #content {
        background-color: rgba(0, 0 , 0 , 0);
        margin-top: -25px;
    }

    .bathroom {
        transform: translateX(-125px);
        width: 110%;
        height: 50px;
        margin-bottom: 15px;
    }
}

/* Iphone 6/7/8 + X*/
@media screen and (max-width: 375px) and (min-width: 361px) {
    * {font-size: 1.1rem;}

    .header {
        width: 94.7%;
        height: 120px;
    }
    
    .header > h1 {
        font-size: 1.9rem;
        margin-left: 0px;
        transform: translateX(-50px);
    }

    #content-wrapper {
        height: 680px;
    }

    #content {
        background-color: rgba(0, 0 , 0 , 0);
        margin-top: -120px;
    }

    .bathroom {
        transform: translateX(-125px);
        width: 110%;
        height: 50px;
        margin-bottom: 30px;
    }
}

/* Pixel 2 + XL*/
@media screen and (max-width: 414px) and (min-width: 376px) {
    * {font-size: 1.1rem;}

    .header {
        width: 95.2%;
        height: 120px;
    }
    
    .header > h1 {
        font-size: 1.9rem;
        margin-left: 0px;
        transform: translateX(-50px);
    }

    #content-wrapper {
        height: 680px;
    }

    #content {
        background-color: rgba(0, 0 , 0 , 0);
        margin-top: -140px;
    }

    .bathroom {
        transform: translateX(-125px);
        width: 110%;
        height: 60px;
        margin-bottom: 20px;
    }
}

/* Ipad*/
@media screen and (max-width: 768px) and (min-width: 415px) {
    * {font-size: 1.5rem;}

    .header {
        width: 97.4%;
        height: 120px;
    }
    
    .header > h1 {
        margin-top: 55px;
        font-size: 1.9rem;
        margin-left: 0px;
        transform: translateX(-10px);
    }

    .header > p {
        font-size: 1.5rem;
    }

    #content-wrapper {
        height: 1024px;
    }

    #content {
        background-color: rgba(0, 0 , 0 , 0);
        margin-top: -130px;
    }

    .bathroom {
        transform: translateX(-125px);
        width: 110%;
        height: 110px;
        margin-bottom: 50px;
    }
}

/* Ipad Pro*/
@media screen and (max-width: 1024px) and (min-width: 769px) {
    * {font-size: 1.6rem;}

    .header {
        width: 98%;
        height: 120px;
    }
    
    .header > h1 {
        margin-top: 55px;
        font-size: 1.9rem;
        margin-left: 0px;
        transform: translateX(120px);
    }

    .header > p {
        font-size: 1.5rem;
    }

    #content-wrapper {
        height: 1366px;
    }

    #content {
        background-color: rgba(0, 0 , 0 , 0);
        margin-top: -150px;
    }

    .bathroom {
        transform: translateX(-125px);
        width: 110%;
        height: 130px;
        margin-bottom: 80px;
    }
}