* {box-sizing: border-box}


body {
    background-image: url("image/bathroom-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: roboto;
    height: 100%;
}

.container {
    display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100vh;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}




a {
  color: dodgerblue;
}

button {
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: #72a5cc;
    padding: 5px 5px;
}


